<router-outlet/>
<div id="progress-bar"></div>

<div class=" text-white container mx-auto my-4 w-full">
    <!-- Titre principal -->
    <app-scrolled-titre/>
    <!-- Expérience + Profil + Contact -->
    <div class="gap-14 mt-12 flex justify-center flex-wrap">
        <app-software-skills class="flex-grow basis-20"/>
        <app-profil class="flex-grow basis-20"/>
        <app-contact class="flex-grow basis-20"/>
    </div>    

    <!-- experience -->
    <app-experience/>
    <!-- Hobbies + Education + Skills -->
        <div class="flex gap-x-6 mt-12 flex-wrap justify-center align-center content-center">
            <!-- Sections alignées et espacées -->
            <app-education class="flex basis-1/2"/>
            <app-hobbies class="flex-grow basis-64"/>
            <app-language class="flex-grow basis-64"/>
        </div>

    <app-footer/>
</div>

