<div 
    [ngClass]="{
    'text-black bg-gold w-1/2 fixed left-1/2 transform -translate-x-1/2 top-0 z-10 slow-zoom-in': isScrolled
    }"
    class="rounded-b-lg flex flex-col items-center mx-auto"
    >
    <h1 class="text-2xl">{{titre}}</h1>
    <div>
        <span class="playwrite-gb-j-guides-regular">{{donnee}}</span>
    </div>
</div>


<!-- Deuxième élément (s'affiche après 200px de scroll) -->
<!-- <div 
  [ngClass]="{
    'text-black bg-gold w-1/2 fixed left-1/2 transform -translate-x-1/2 top-0 z-10 slow-zoom-in opacity-100 scale-100 transition-all duration-500 ease-in-out mb-[-5rem]': isScrolled2,
    'opacity-0 scale-95 transition-all duration-500 ease-in-out': !isScrolled2
  }"
  class="rounded-b-lg flex flex-col items-center mx-auto shadow-lg p-4"
>
  <h1 *ngIf="titreExperience" class="text-2xl font-bold">{{ titreExperience }}</h1>
</div> -->

